XML_Dataset/schema/team.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="nba_teams">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="team" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:integer" name="Team_ID"/>
                            <xs:element type="xs:string" name="Name"/>
                            <xs:element type="xs:string" name="Abbr"/>
                            <xs:element type="xs:string" name="Nickname"/>
                            <xs:element type="xs:integer" name="Year_Founded"/>
                            <xs:element type="xs:string" name="City"/>
                            <xs:element type="xs:string" name="Arena"/>
                            <xs:element type="xs:integer" name="Capacity"/>
                            <xs:element type="xs:string" name="Owner"/>
                            <xs:element type="xs:string" name="Manager"/>
                        </xs:sequence>
                        <xs:attribute type="xs:integer" name="id" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>